<div class="profile-edit">
  <div class="profile-form-text">
    <h2>Welcome back!</h2>
    <h5>If you need to update any of your profile, you can do so here!</h5>
  </div>
  <%= render "form", profile: @profile %>
</div>
