<div class="profile-new profile-new-title">
  <div class="profile-form-text">
    <h2 class="highlighted-word">Welcome!</h2>
    <h5>As an established professional, we give you the chance to write down some key information that can be shown to our community of young people. This is where you can tell your story that may inspire someone into your field, so please provide as much detail as possible in your answers.</h5>
  </div>
  <%= render "form", profile: @profile %>
</div>
