<div class="profile-new profile-new-title">
  <h1 class="subheader">Fill out the following information and begin sharing your experiences with the world!</h1>
  <%= render "form", profile: @profile %>
</div>
