// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $yellow: #FFB100;
// $teal: #068DA9;
// $dark-red: #7E1717;
// $orange: #E55807;
// $light-blue: #ECF8F9;
// $dark-blue: #0100ff;
// $pink: #ef00fe;
// $jet: #302B27;

// $button: $yellow;
// $body: black;


$black: black;
$white: white;
$light-white: rgba(255, 255, 255, 0.8);
$background-light-color: #EAEAEA;
$color1: #08D9D6;
$color2: #252A34;
$color3: #FF2E63;


$light-color1: #ff2e623e;
$light-color3: #08d9d640;


$color4: #eb5756;

//components
$button: $color4;
