.about-page {
  margin-top: calc(10vh + 100px);
}

.about-titles {
  text-align: center;
  margin-bottom: 100px;

  h2 {
    opacity: 1;
    // font-size: 2rem;
    font-weight: 100;
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: $color6;
  }

  // p {
  //   font-size: 1;
  //   max-width: 600px;
  //   margin: 0 auto;
  // }
}

// .about-list-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   max-width: 1250px;
//   margin: 0 auto 100px auto;

//   .about-list-card {
//     max-width: 250px;
//   }

//   i {
//     font-size: 3rem;
//     text-align: left;
//     color: $color3;
//     margin-bottom: 10px;
//   }
// }


.about-meet-the-founders-container {
  position: relative;
  height: 80vh;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto 100px auto;
}

.about-founders-image {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 38vw;
  height: 60vh;
  background-size: cover;
  background-position: center;


  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
  }

}

.about-founders-content {
  z-index: -1;
  border: solid $color7 1px;
  color: $color7;
  background-color: $color5-dark;
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 12vw;
  border-radius: 10px;
}


.meet-founder-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;

  .meet-founder-card {
    max-width: 380px;
    text-align: center;

    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 20px;
    }
  }

}

@media only screen and (max-width: 1300px) {
  .about-page {
    padding: 0 5vw;
  }

  .about-titles {
    text-align: center;
    margin-bottom: 100px;
  }

  .about-list-container {
    display: block;

    .about-list-card {
      max-width: 100%;
      text-align: center;
      margin-bottom: 50px;
    }
  }


  .about-meet-the-founders-container {
    position: relative;
    height: calc(950px + 5vw);
    width: 100%;
    max-width: 1250px;
    margin: 0 auto 100px auto;
  }

  .about-founders-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;


    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      z-index: 2;
    }

  }

  .about-founders-content {
    z-index: -1;
    position: absolute;
    top: calc(400px + 5vw);
    right: 0;
    width: 100%;
    height: 550px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
    }
  }
}

@media only screen and (max-width: 800px ) {
  .about-meet-the-founders-container {
    height: calc(1100px + 5vw);
  }

  .about-founders-content {
    height: 700px;

    div {
      height: 100%;
    }
  }

  .meet-founder-container {
    display: block;
    margin-bottom: 100px;

    .meet-founder-card {
      max-width: 100%;
      text-align: center;
      margin-bottom: 50px;

      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
      }

      h2 {
        margin-bottom: 20px;
      }
    }

  }
}

@media only screen and (max-width: 500px ) {
  .about-meet-the-founders-container {
    height: calc(1250px + 5vw);
  }

  .about-founders-content {
    height: 850px;
  }
}
