.admin-page {
  display: flex;
  gap: 20px;
  max-width: 1250px;
  margin: 15vh auto 50px auto;

  .enquiries, .mentors {
    width: 50%;
  }

  .mentor-card, .enquiry-card {
    padding: 10px;
    border: solid $color7 1px;
    background-color: $color5-dark;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1300px) {
  .admin-page {
    padding: 0 5vw;
  }
}
