.contact-page {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: 15vh auto 10vh auto;
}

.contact-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  width: 50%;

  .form-control.text {
    height: 200px;
  }
}
