.dashboard {
  display: flex;
  // min-height: 80vh;
  justify-content: space-between;
  max-width: 1250px;
  margin-top: 10vh;
  padding-bottom: 10vh;
  padding-top: 10vh;
  margin: 100px auto;
}

.fontawesome {
  height: 100px;
  font-size: 2rem;
}

.button.create-profile {
  margin-left: 0;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dashboard-container.left{
  // margin-left: 10vw;
  max-width: 30vw;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #dashboard-title {
    font-size: 3rem;
  }

}
.dashboard-container.middle {
  min-width: 50vw;
}
.dashboard-container.right{
  width: 20vw;
  // margin-right: 10vw;
}
.dashboard-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}





.card-category {
  background-size: cover;
  background-position: center;
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color2;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: $color3;
  border: solid $light-white 5px;
}

.card-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vh;
}

.discover-card {
  border: solid $light-white 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 2vh;
  height: 30vh;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  background: $color3;

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: $color2;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    color: $color2;
  }
}

 .card-user {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 40px;
  border-radius: 3px;
}

.card-content {
  padding-top: 30px;
  text-align: center;
  width: 100%;

  img {
    height: 90px;
  }
}

.icon-container {
  display: flex;

  .dashboard-avatar {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
  }
}

.icon {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 100px;
  width: 50px;
  border-radius: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color3;
  border: solid $light-white 5px;

}

.social-media-icon {
  color: black;
  display: flex;
  justify-content: right;
  margin-bottom: 50px;
  text-decoration: none;
}

#github:hover {
  background-color: white;
  color: black;
}

#facebook:hover {
  color: white;
  background-color: #1877F2;
}

#instagram:hover {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#github {
  color: white;
  background: $color3;
  list-style: none;
  border: solid $light-white 5px;
}

#facebook {
  color: white;
  background: $color3;
  list-style: none;
  border: solid $light-white 5px;
}

#instagram {
  color: white;
  background: $color3;
  list-style: none;
  border: solid $light-white 5px;
}

.svg-inline--fa {
  margin: auto;
  height: 40px;
}

.dashboard-container.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  i {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  p {
    text-align: right;
    padding: 0 0 0 10;
    margin-bottom: 0;
  }
}
