.dashboard {
  display: flex;
  height: 80vh;
}

.fontawesome {
  height: 100px;
  font-size: 2rem;
}

.button.create-profile {
  margin-left: 0;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dashboard-container.left{
  margin-left: 10vw;
  max-width: 30vw;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.dashboard-container.middle {
  min-width: 50vw;
}
.dashboard-container.right{
  width: 20vw;
  margin-right: 10vw;
}
.dashboard-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-gap: 4vh;
}





.card-category {
  background-size: cover;
  background-position: center;
  // height: 180px;
  height: 26vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: $color2;
  // margin-bottom: 2vh;
}

.card-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vh;
}

.card {
  overflow: hidden;
  /* background-color: #2a9d8f; */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 2vh;
  // height: 200px;
  height: 26vh;

  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  background: $color2;

}

.card h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: white;
}

 .card-user {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 40px;
  border-radius: 3px;
}

.card-content {
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

.icon-container {
  display: flex;
}

.icon {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 100px;
  width: 50px;
  border-radius: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color2;
  color: white;
}

.social-media-icon {
  color: black;
  display: flex;
  justify-content: right;
  margin-bottom: 50px;
  text-decoration: none;
}

#github {
  background-color: white;
  color: black;
}

#facebook {
  color: white;
  background-color: #1877F2;
}

#instagram {
  color: white;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#github:hover {
  color: white;
  background: $color2;
  list-style: none;
}

#facebook:hover {
  color: white;
  background: $color2;
  list-style: none;
}

#instagram:hover {
  color: white;
  background: $color2;
  list-style: none;
}

.svg-inline--fa {
  margin: auto;
  height: 20px;
}

.dashboard-container.right i {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
