body {
  max-width: 1250px;
  margin: auto;
  margin-top: 10vh;
}



.landing {
  color: $white;
  height: 90vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 10vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfipoufmj/image/upload/v1685435179/pexels-thijs-van-der-weide-792972_nevhug.jpg);
  background-position: center;
  background-size: cover;
}

.landing-content {
  max-width: 60vw;
  text-align: left;

  h1, h2 {
    margin-bottom: 10px;
    opacity: .8;
  }
  h1 {
    font-size: 6rem;
    font-weight: bold;
  }

  p {
    margin-top: 50px;
    opacity: .5;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

//section one

.section.one {
  margin-bottom: 100px;
  height: 60vh;

  img {
    margin: 0 80px 0 0;
    height: 30vw;
    width: auto;
  }

  h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
  p {
    opacity: .7;
   }
}

//section two

.section.two {
  margin-bottom: 100px;

  i {
    font-size: 1.4rem;
  }
}

.subheader.how-it-works {
  text-align: center;
  margin-bottom: 50px;
}

.how-it-works-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-it-works-container {
  height: 300px;
  width: 300px;
}

.how-it-works-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: $color2;
  color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

//section three

.section.three {
  height: 60vh;
  margin-bottom: 100px;
}

.mission-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mission-content-container {
  width: 60vw;
}

// section four

.section.four {
  height: 300px;
  background-color: $color2;

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

//section five

.section.five {
  text-align: center;
  margin: 100px 0;
}

.become-a-member-container {
  width: 50vw;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 30vw;
  margin: auto;
}
