<div class="the_class">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<% @recipe_titles.each do |recipe| %>
  <p><%= recipe %></p>
<% end %>

<% @recipe_urls.each do |recipe| %>
  <%= link_to 'link', 'https://www.bbcgoodfood.com/#{recipe}', target: '_blank' %>
<% end %>


</div>
