<!-- Loop through the video URLs and embed each video -->
<% video_urls.each do |url| %>
  <div class="video-wrapper">
    <iframe width="560" height="315" src="<%= url %>" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>
