<div class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="footer-logo">
      <%= link_to root_path do %>
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686933098/Untitled-2_2_saug3b.png" alt="fuck">
      <% end %>
    </div>
  </div>
</div>
