<div class="about-page">
  <div class="about-titles">
    <h2>Why Mapped Out?</h2>
    <h1>We're a free service for all</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>

  <div class="about-list-container">
    <div class="about-list-card">
      <i class="fa-solid fa-magnifying-glass"></i>
      <h2>Search</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="about-list-card">
      <i class="fa-regular fa-comment"></i>
      <h2>Connect</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="about-list-card">
      <i class="fa-solid fa-book-open"></i>
      <h2>Learn</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="about-list-card">
      <i class="fa-solid fa-graduation-cap"></i>
      <h2>Become</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
  </div>

  <div class="about-meet-the-founders-container">
    <div class="about-founders-content">
      <div>
        <h3>Meet the founders</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="about-founders-image">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1669195199/zoe2_xlnz0u_aa4aeb.jpg" alt="">
    </div>
  </div>

  <div class="meet-founder-container">
    <div class="meet-founder-card">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1682418454/IMG_9754_e2lldt.jpg" alt="">
      <h2>Rory</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="meet-founder-card">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1681720143/ap23078750770682-17b30c0b0b6a544e862bcc523073c332b8e6f805_u3wvlg.jpg" alt="">
      <h2>Zoe</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
  </div>
</div>
