<div class="about-page">
  <div class="about-titles">
    <h2>Why Mapped Out?</h2>
    <h1>We're free, for everyone.</h1>
    <p>Finding your feet in the world takes time. We provide an accessible and personalised tool, to help you map out your future.</p>
    <br/>
    <%# <p>Here's how it works...</p> %>
  </div>

  <%# <div class="about-list-container">
    <div class="about-list-card">
      <i class="fa-solid fa-magnifying-glass"></i>
      <h2>Answer the questionnaire</h2>
      <p>Our algorithm works to identify those with similar attributes, giving you an idea of what could be next.</p>
    </div>
    <div class="about-list-card">
      <i class="fa-regular fa-comment"></i>
      <h2>Discover</h2>
      <p>Browse our members, who have valuable insights they would be happy to share with you</p>
    </div>
    <div class="about-list-card">
      <i class="fa-solid fa-book-open"></i>
      <h2>Connect</h2>
      <p>Use our platform to connect one-on-one with those profiles that make you tick</p>
    </div>
    <div class="about-list-card">
      <i class="fa-solid fa-graduation-cap"></i>
      <h2>Mentor Program</h2>
      <p>Getting serious? Look into our mentorship program.</p>
    </div>
  </div> %>

  <div class="about-meet-the-founders-container">
    <div class="about-founders-content">
      <div>
        <h3>Our Project</h3>
        <p>Times have changed since our parents were at school. The norm for the older generation was that you found a career and stuck with it for life. Thankfully our generation isn't like that. We're more open minded, more adventurous and more dedicated to finding something that means something to us.</p>
        <p>With modern technologies, social networks and ways of thinking, we are better poised than ever to spread our wings and fly the nest.</p>
        <p><strong>So why is it so hard?</strong></p>
        <p>Well, despite all the nurturing we may get from schools/universties/colleges or parents, the reality is that you have to find your own way. Having been so heavily influenced by those around you growing up, no wonder its difficult when you come to face everything on your own.</p>
        <p>However, we will all find something we enjoy and feel stimulated from at some point, for most people this is halfway through their working lives. We want to help you get there faster, and seen as though no one has the time or energy to actually go and experince every option first hand, we're settling for the next best thing. Sharing the information gained from people who have, and putting it all in one place for you to read.</p>
      </div>
    </div>
    <div class="about-founders-image">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920324/pexels-fauxels-3184418_tzhnvq.jpg" alt="">
    </div>
  </div>

  <div class="meet-founder-container">
    <div class="meet-founder-card">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1682418454/IMG_9754_e2lldt.jpg" alt="">
      <h2>Rory</h2>
      <p>Having embarked on no more than three different career paths before hitting 25, Rory is no stranger to adapting to new situations. Having picked up coding after finishing his career as a yacht chef, he set about building MappedOut, the platform that he would've dreamed of having in the early decision making days.</p>
    </div>
    <div class="meet-founder-card">
      <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686844011/PHOTO-2023-06-15-16-44-48_l3jwam.jpg" alt="">
      <h2>Zoe</h2>
      <p>With multiple degrees in various different fields, it's fair to say Zoe has taken her time to decide how she wants to spend her days. From going through the thankless task of applying for law firms, to becoming a junior detective in the police, she's picked up a vast amount of knowledge on her journey.</p>
    </div>
  </div>
</div>
