<div class='home-page'>
  <div class="landing">
    <div class="landing-content">
      <h1>We are a <span class="highlighted-word">community</span> driven platform. <span class="highlighted-word">Discover alternate paths.</span></h1>
      <p id="landing-text-line">By gathering knowledge from experienced professionals, we provide unique insight to young people looking for their place in the world.</p>

      <div class="landing-buttons">
        <%= link_to new_mentor_path do %>
          <button class="button fill">
            Become a mentor
          </button>
        <% end %>
        <%= link_to dashboard_path do %>
          <button class="button border">
            Get started
          </button>
        <% end %>
      </div>
    </div>

    <div class="landing-data-grid">
      <div class="landing-data-box left">
        <h2><strong>12</strong></h2>
        <p>The average number of times a person will change jobs/careers in their lifetime</p>
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1687360557/pexels-andrea-piacquadio-3778966_unl4mq.jpg" alt="">
      </div>
      <div class="landing-data-box-right">
        <div class="landing-data-box">
          <h3><strong class="highlighted-word">39%</strong></h3>
          <p>of students are over the age of 25.</p>
        </div>
        <div class="landing-data-box">
          <h3><strong class="highlighted-word">1 in every 2</strong></h3>
          <p>people work in a field totally unrelated to their degree</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="our-mission">
      <div class="information">
        <div>
          <p>Our mission</p>
          <h2 class="subheader">To give all young people <span class="highlighted-word">access,</span> <span class="highlighted-word">awareness,</span> and the <span class="highlighted-word">ability</span> to map out their own future.</h2>
        </div>
        <p>We are expected to make significant life decisions at an early stage, without having any real understanding of the opportunities available. Our solution is focused on bringing together individuals, personalities, and experiences to help everyone thrive.</p>
      </div>

      <div class="card-container">
        <div class="card" id="card-01">
          <h3>Our Algorithm</h3>
          <p>Character traits signifcantly impact the decisions we make. We've developed a unique tool to match similar individuals based on personality traits, allowing you to discover new and bespoke pathways.</p>
          <div class="card-image">
            <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1687270773/pexels-antonio-batinic%CC%81-4164418_e3ynog.jpg" alt="">
          </div>
        </div>
        <div class='cards-right'>
          <div class="card" id="card-02">
            <div class="card-data">
              <h3>Mentors</h3>
              <p>Our community of volunteer mentors are here to help in any way they can. Our one-on-one service is designed to connect like-minded indiviuals to make your next step easier.</p>
            </div>
            <div class="card-image">
              <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920328/pexels-kampus-production-5940841_rokpmx.jpg" alt="">
            </div>
          </div>
          <div class="card" id="card-03">
            <div class="card-data">
              <h3>Browse</h3>
              <p>Scroll with a difference. Lets face it, traditional career sites and job boards offer little perspective on what life really looks like.
              To inspire your next steps, we have a library of real and honest accounts from experienced professionals.</p>
            </div>
            <div class="card-image">
              <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920324/pexels-fauxels-3184418_tzhnvq.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-page-span">
  <div class="section-two">
    <div class="section-two-left">
      <h2>Our Process</h2>
      <p>Designed to take you from clueless and overwhelmed, to focused, motivated, and informed.</p>
    </div>
    <ul class="section-two-right">
      <li class="stage">
        <i class="fa-regular fa-lightbulb"></i>
        <div>
          <h3>Take our questionnaire</h3>
          <p>Answer our questions honestly, they're the key to finding a potential match.</p>
        </div>
      </li>
      <li class="stage">
        <i class="fa-solid fa-book-open"></i>
        <div>
          <h3>Browse our library</h3>
          <p>Explore and read about the experiences of others.</p>
        </div>
      </li>
      <li class="stage">
        <i class="fa-regular fa-comments"></i>
        <div>
          <h3>Connect to a mentor</h3>
          <p>Contact one of our members directly, or apply for our more specific mentor program.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="home-page">
  <div class="section four">
    <div class="become-a-member-container">
      <div class="member-image">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920328/pexels-kampus-production-5940841_rokpmx.jpg" alt="">
      </div>
      <div class="member-content">
        <div class="member-text">
          <h3>Ready to share?</h3>
          <p>Be a part of our mission to inspire young people by registering with us below. No matter how advanced you are in your field, you can help positively impact young lives.</p>
          <div class="button-container">
            <%= link_to "Join as a mentor", new_mentor_path, class: "button become-a-member-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
