<%# <%= link_to "index of profiles", profiles_path %>
<%# <%= link_to "complete questionnaire", new_questionnaire_path %>
<%# <%= link_to "chatrooms index", chatrooms_path %>


<div class="landing">
  <div>
    <h1>Mapped Out</h1>
    <h2>The app that helps you discover alternate paths</h2>
    <p>Experienced professionals willing to help</p>
  </div>
</div>


<div class="section">
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1682015896/pexels-vishnu-r-nair-1105666_ymoud6.jpg" alt="" class="home-page-image">
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1683735572/pexels-singkham-1108572_x7d2fq.jpg" alt="" class="home-page-image">
  <div>
    <h3>Become inspired by others stories</h3>
    <h2>Make informed life decisions</h2>
    <p>Use our network to discover the triumphs and pitfall of the working world. An give yourself something else to think about</p>
  </div>
</div>


<div class="section">
  <h2>How it works</h2>
  <div>
    <div class="how-it-works-container">
      <div class="how-it-works-card">
        <div>
          <h3>Step one:</h3>
          <p>Answer our questions instinctively, and let our algorithm present you with opportunities you may not have thought of.</p>
        </div>
        <button class="button test">Take our test</button>
      </div>
    </div>
    <div class="how-it-works-container">
      <div class="how-it-works-card">
        <div>
          <h3>Step two:</h3>
          <p>Discover our portfolio of professionals willing to help, and become inspired by their journeys!</p>
        </div>
          <button class="button test">Discover</button>
      </div>
    </div>
    <div class="how-it-works-container">
      <div class="how-it-works-card">
        <div>
          <h3>Step three:</h3>
          <p>Connect to established professials and begin making the right turns towards your potential new start!</p>
        </div>
        <button class="button test">Connect</button>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div>
    <h2>Our mission</h2>
    <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1682014739/pexels-marcin-dampc-1684187_fsnjod.jpg" alt="" class="home-page-image">
    <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1682017155/pexels-shelagh-murphy-1666816_xqohrz.jpg" alt="" class="home-page-image">
  </div>
  <div className="mission-content-container">
    <h3>Who has ever heard the question "What do you want to be when you grow up?"</h3>
    <p>Likelihood is you have, but its one of the trickiest things to answer for most of us. People now regularly have career changes throughout their lives, and what typically inspires that change?</p>
    <h3>People!</h3>
    <p>At least from our humble experince in life so far, you drive towards something based on someone you've either seen hard at work or from an inspireing conversation. Our aim is to connect those willing to help others, with those looking for help!</p>
  </div>
</div>


<div class="section">
  <div>
    <h2>Make a difference</h2>
    <p>Inspire someone to day, sign up below</p>
    <div>
      <button class="button">Sign up</button>
      <button class="button">Test</button>
    </div>
  </div>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1681827477/pexels-mark-glancy-1564506_kpjyoq.jpg" alt="" class="home-page-image">
</div>
