<div class='home-page'>
  <div class="landing">
    <div class="landing-content">
      <h1>Userdriven platform, <span class="highlighted-word">discover alternate paths</span></h1>
      <p id="landing-text-line">By bringin the expertise of people around the world in one place, better explore your options with a more comprehensive understanding</p>

      <div class="landing-buttons">
        <button class="button fill">
          <%= link_to "Become a mentor" %>
        </button>
        <button class="button border">
          <%= link_to "Get started" %>
        </button>
      </div>
    </div>

    <div class="landing-data-grid">
      <div class="landing-data-box left">
        <h3><strong>12</strong></h3>
        <p>Average times a person will change jobs </p>
      </div>
      <div class="landing-data-box-right">
        <div class="landing-data-box">
          <h3><strong>39%</strong></h3>
          <p>of students are over the age of 25</p>
        </div>
        <div class="landing-data-box">
          <h3><strong>1 in every 2</strong></h3>
          <p>work in a field unrelated to their degree</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section one">
    <div class="our-mission">
      <div class="information">
        <div>
          <p>Our mission</p>
          <h2 class="subheader">To give people like you more choice!</h2>
        </div>
        <p>Traditional careers are a well trodden and documented path. But what about those who don't fit the mould of the modern Accountant, Doctor or Lawyer etc? We have found a collection of unique people willing to share their valuable experiences for the benefit of YOU! Take the steps below...</p>
      </div>

      <div class="card-container">
        <div class="card" id="card-01">
          <h3>Our Algorithm</h3>
          <p>We find character traits as the single biggest impact driver for decision making. So we've devised a system that matches you with something you enjoy, which we believe is the key to success long term</p>
          <div class="card-image">
            <%# <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1687270773/pexels-antonio-batinic%CC%81-4164418_e3ynog.jpg" alt=""> %>
            <%# <i class="fa-regular fa-lightbulb"></i> %>
          </div>
        </div>
        <div class='cards-right'>
          <div class="card" id="card-02">
            <div class="card-data">
              <h3>Mentors</h3>
              <p>Our community of mentors are here to help in any way they can! Having been through the difficult of process of getting where they are now, they're happy to help!</p>
            </div>
            <div class="card-image">
              <%# <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920328/pexels-kampus-production-5940841_rokpmx.jpg" alt=""> %>
              <%# <i class="fa-solid fa-book-open"></i> %>
            </div>
          </div>
          <div class="card" id="card-03">
            <div class="card-data">
              <h3>Prospects</h3>
              <p>Having had your eyes opened to the realities you may have to face in the future, begin by mapping out a plan of action, and start focusing your efforts early!</p>
            </div>
            <div class="card-image">
              <%# <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920324/pexels-fauxels-3184418_tzhnvq.jpg" alt=""> %>
              <%# <i class="fa-regular fa-comments"></i> %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-page-span">
  <div class="section-two">
    <div class="section-two-left">
      <h2>Let's take a look at how the process works</h2>
      <p>Utlize all our features to give you the best boost</p>
    </div>
    <ul class="section-two-right">
      <li class="stage">
        <i class="fa-regular fa-lightbulb"></i>
        <div>
          <h3>Take our questionnaire</h3>
          <p>Answer the questions instintively, they're the key to finding a good match</p>
        </div>
      </li>
      <li class="stage">
        <i class="fa-solid fa-book-open"></i>
        <div>
          <h3>Browse our database</h3>
          <p>Have an explore and read about at what others have done with their lives</p>
        </div>
      </li>
      <li class="stage">
        <i class="fa-regular fa-comments"></i>
        <div>
          <h3>Connect to a mentor</h3>
          <p>Contact one of our members directly, or apply for our more specific mentor program</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="home-page">
  <div class="section four">
    <div class="become-a-member-container">
      <div class="member-image">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920328/pexels-kampus-production-5940841_rokpmx.jpg" alt="">
      </div>
      <div class="member-content">
        <div class="member-text">
          <h3>Are you in the priviledged position of being able to help others?</h3>
          <p>Get started inspiring people and register with us below. No matter how advanced you are in your field, you will undoubtedly have some valuable knowledge to share!</p>
          <div class="button-container">
            <%= link_to "Join as a mentor", new_user_registration_path, class: "button become-a-member-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
