<%# <%= link_to "index of profiles", profiles_path %>
<%# <%= link_to "complete questionnaire", new_questionnaire_path %>
<%# <%= link_to "chatrooms index", chatrooms_path %>

<%# <div class="bubbles">
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
  <span style="--i:11;"></span>
  <span style="--i:12;"></span>
  <span style="--i:24;"></span>
  <span style="--i:10;"></span>
  <span style="--i:14;"></span>
  <span style="--i:23;"></span>
  <span style="--i:18;"></span>
  <span style="--i:16;"></span>
  <span style="--i:19;"></span>
  <span style="--i:20;"></span>
  <span style="--i:22;"></span>
  <span style="--i:25;"></span>
  <span style="--i:18;"></span>
  <span style="--i:21;"></span>
  <span style="--i:15;"></span>
  <span style="--i:13;"></span>
  <span style="--i:26;"></span>
  <span style="--i:17;"></span>
  <span style="--i:13;"></span>
  <span style="--i:28;"></span>
</div> %>

<div class="content">

  <div class="landing">
    <div class="landing-content">
      <h2>Discover alternate paths</h2>
      <h1>Mapped Out</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1684244486/Pngtree_world_map_1970382_jh9kie.png" alt="" id="map-icon">
  </div>
</div>

<div class="section one">
  <div class="content">
    <h3>Become inspired by others stories</h3>
    <h2>Make informed life decisions</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
</div>



<div class="content">
  <div class="section two">
    <div style="width: 100%;">
      <div class="how-it-works-titles">
        <div>
          <p>How it works</p>
          <h2 class="subheader how-it-works">Follow the steps below</h2>
        </div>
        <p>We have a tested process to help you discover what possibilities are out there without any outside pressures from schools/parents/your peers.We have a tested process to help you discover what possibilities are out there without any outside pressures from schools/parents/your peers</p>
      </div>
      <div class="how-it-works-section">
        <div class="how-it-works-container">
          <h3>01</h3>
          <div class="how-it-works-card">
            <div class="connect-text">Test</div>
          </div>
          <p>Answer our questions instinctively, and let our algorithm present you with opportunities you may not have thought of.</p>
        </div>
        <div class="how-it-works-container">
          <h3>02</h3>
          <div class="how-it-works-card">
            <div class="connect-text">Discover</div>
          </div>
          <p>Discover our portfolio of professionals willing to help, and become inspired by their journeys!</p>
        </div>
        <div class="how-it-works-container">
          <h3>03</h3>
          <div class="how-it-works-card">
            <div class="connect-text">Connect</div>
          </div>
          <p>Connect to established professials and begin making the right turns towards your potential new start!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section three">
  <div class="content mission-section">
    <h2 class="subheader">Our mission</h2>
    <div class="mission-content-container">
      <h3>Who has ever heard the question "What do you want to be when you grow up?"</h3>
      <p>Likelihood is you have, but its one of the trickiest things to answer for most of us. People now regularly have career changes throughout their lives, and what typically inspires that change?</p>
      <button class="button">Read more</button>
    </div>
  </div>
</div>

<div class="separator four">
  <h2>About us</h2>
</div>

<div class="section four">
  <ul>
    <li><i class="fa-solid fa-hashtag"></i></li>
    <li><i class="fa-brands fa-instagram" id="instagram"></i></li>
    <li><i class="fa-brands fa-instagram" id="instagram"></i></li>
    <li><i class="fa-brands fa-instagram" id="instagram"></i></li>
  </ul>
</div>


<div class="section five">
  <div class="become-a-member-container">
    <h2 class="subheader" >Become a member of the community!</h2>
    <p>Get started inspiring someone and sign up below</p>
    <div class="button-container">
      <button class="button">Sign up</button>
    </div>
  </div>
</div>
