<div class="become-a-mentor-page">
  <div class="mentor-text">
    <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920328/pexels-kampus-production-5940841_rokpmx.jpg" alt="">
    <h2>So you want to <span class="highlighted-word">become a mentor?</span></h2>
    <p>That's amazing news! The social impact of sharing your tips and tricks with others can be huge! We make it easy for you to do so by pairing you up with some who we believe is similar to yourself. </p>
  </div>
  <div class="mentor-form">
    <h3>Fill in the form below and we will get in touch as soon as we can!</h3>
    <br/>
    <%= render "form", mentor: @mentor %>
  </div>
</div>
