<div class="become-a-mentor-page">
  <div class="mentor-text">
    <h2>Share your <span class="highlighted-word">wisdom</span>, improve <span class="highlighted-word">young people's</span> lives</h2>
    <p>The social impact of sharing your tips and tricks with others can be huge, we thank you in advance for your decision to help others.</p>
    <%# <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1686920328/pexels-kampus-production-5940841_rokpmx.jpg" alt=""> %>
  </div>
  <div class="mentor-form">
    <h3>Fill in the form and we will be in contact as soon as we can</h3>
    <br/>
    <%= render "form", mentor: @mentor %>
  </div>
</div>
