<div class="questionnaire-edit-section">
  <div>
    <h2 class="highlighted-word">Welcome back to our personality test!</h2>
    <p><span class="highlighted-word">REMEMBER</span>, there are no right or wrong answers. This is designed to pull out key attributes that we believe are most important to you finding something you enjoy long term. We care less about examinations, and more about things that make people tick...</p>
  </div>
  <%= render "form", questionnaire: @questionnaire %>
</div>
