<div class="questionnaire-new-section">
  <div>
    <h2 class="highlighted-word">Welcome to our quiz!</h2>
    <p><span class="highlighted-word">REMEMBER</span>, this is designed to pull out key attributes that we believe are most important to you finding something you enjoy long term. We care less about test results and examinations, and more about things that make people tick...</p>
  </div>
  <%= render "form", questionnaire: @questionnaire %>
</div>
