<p style="color: green"><%= notice %></p>

<%= render @questionnaire %>

<div>
  <%= link_to "Edit this questionnaire", edit_profile_questionnaire_path(@profile, @questionnaire), class: "button" %> |

  <%= button_to "Destroy this questionnaire", profile_questionnaire_path(@profile, @questionnaire), method: :delete, class: "button" %>
</div>
