<div class="questionnaire-show-section">
  <h1 class="subheader">Your scores</h1>
  <div>

    <%= render @questionnaire %>

    <div class="button-container">
      <button class="button">
        <%= link_to "ReTake", edit_profile_questionnaire_path(@profile, @questionnaire) %>
      </button>
      <%= button_to "Delete", profile_questionnaire_path(@profile, @questionnaire), method: :delete, class: "button" %>
    </div>

    <div>

    </div>
  </div>
</div>
