.button {
  // margin: 20px 0;
  background-color: $button;
  border-radius: 5px;
  border: none;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  // font-size: 1.2rem;
  padding: 6px 12px;
  height: auto;
  max-width: 150px !important;
  color: black;

  a {
    color: black;
  }

}

.btn.most-similar {
  // height: 20px;
  padding: 6px 12px;
}

.button.border {
  border: solid 1px $color7;
  background-color: transparent;
  color: $color7;

  a {
    color: $color7;
  }
}
