.button {
  background-color: $button;
  border-radius: 5px;
  border: none;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  height: auto;
  max-width: 150px !important;
  color: black;

  a {
    color: black;
  }
}

.button:hover {
  background-color: $color9;
}

.btn.most-similar {
  padding: 6px 12px;
}

.button.border {
  border: solid 1px $color7;
  background-color: transparent;
  color: $color7;

  a {
    color: $color7;
  }
}

.back-button {
  position: absolute;
  // padding: 200px;
  top: 12vh;
  left: 5vw;
}
