.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  min-height: 80vh;
  // margin: 10vh 0;
}

.chatroom-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $color2;
  color: $white;
  padding: 15px;
  border-radius: 10px;
}

.chatroom-card {
  display: flex;
  justify-content: left;
  align-items: center;

  .user-nickname {
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 0;
    width: 100%;
  }
  .chatroom-data {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    width: 300px;

    p {
      opacity: .7;
      width: 100%;
    }

    .upper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h4 {
        font-size: 1rem;
        opacity: .7;
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
    }
  }
}

.chatroom-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}
