// whole page

.chatroom-index {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .chatroom-index {
    padding: 0 5vw;
  }
}

// chatroom list

.chatroom-list-section {
  min-width: 28%;
  max-width: 45%;
  margin: 15vh 0 30px 0;
}

.chatroom-links-container {
  max-height: 60vh;
  overflow-y: auto;
}

.chatroom-card {
  display: flex;
  justify-content: left;
  align-items: center;
  border: solid $light-white 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: $color7;
  color: $color2;
  padding: 10px;
  width: 100%;

  .user-nickname {
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 0;
    width: 100%;
  }
  .chatroom-data {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
    width: 100%;

    p {
      opacity: .7;
      width: 100%;
    }

    .upper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h4 {
        font-size: 1rem;
        opacity: .7;
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
    }
  }
}

.chatroom-card-avatar {
  height: 60px;
  width: 60px;

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
    width: 60px;
  }
}



// chat room selected

.chatroom-placeholder {
  min-height: calc(60vh + 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatroom-selected-section {
  width: 70%;
  margin-right: 20px;
}

.simple_form {
  padding: 0 1rem;
}

.messages-container {
  height: 50vh;
  overflow-y: auto;

}

//show page

.chatroom-show {
  h2 {
    position: absolute;
    top: 1rem;
    left: 1rem;

  }

  .container.chatroom {
    padding: 80px 0 10px 0;
  }
}



.chatroom-show {
  background-color: $color5-dark;
  border-radius: 10px;
  position: relative;
  max-width: 1250px;
  width: 100%;
  margin: 20vh auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

//form section

.chatroom-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 10vh;

}


@media only screen and (max-width: 800px) {
  .chatroom-index {
    display: block;
  }

  .chatroom-list-section {
    width: 105%;
    margin-top: 0;
    padding-right: 5vw;
    margin-bottom: 50px;
  }

  .chatroom-selected-section {
    width: 100%;
    margin-left: 0px;
    min-height: 30vh;
  }

  .chatroom-show {
    margin: 15vh 0 30px 0;
  }
}
