.contact-page {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: 15vh auto 10vh auto;
}

.contact-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  width: 50%;

  .form-control.text {
    height: 200px;
  }
}

@media (max-width: 1300px) {
  .contact-page {
    padding: 0 5vw;
  }
}

@media (max-width: 900px) {
  .contact-page {
    display: block;
  }

  .contact-form, .contact-text {
    width: 100%;
  }

  .contact-text {
    margin-bottom: 50px;
  }

  .simple_form {
    padding: 0;
  }
}
