.info-window {
  height: auto;
  width: 100px;

  h2 {
    color: $color7;
    font-size: 1.3rem !important;
  }

  p {
    color: $color7;
    margin-bottom: 0;
  }
}

.info-window-image {
  height: 60px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.mapboxgl-popup-close-button {
  color: $color7;
}
