.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  border-radius: 10px;
  background-color: $color5-dark;
  border: solid $color7 1px;
  color: $color7;
}

.receiver-style {
  background-color: $color6;
  border: solid $color7 1px;
  border-radius: 10px;
  color: black;
}
