.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  border: solid $light-white 5px;
  border-radius: 10px;
  background-color: $color1;
}

.receiver-style {
  background-color: $color3;
  border: solid $light-white 5px;
  border-radius: 10px;
  color: white;
}
