.navbar.hidden {
  top: -10vh;
}

.navbar {
  z-index: 3;
  justify-content: space-between;
  background: linear-gradient( 45deg, #0400ffc0, #ef00fcce);
  backdrop-filter: blur(5px);

  height: 10vh;
  padding: 0;
  position: fixed;
  min-width: 100%;
  max-width: 1250px;
  top: 0;
  transition: top .5s ease;
  margin: auto;

  h6 {
    margin: 0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}



.nav-link {
  color: $white;
}

.avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
