.navbar.hidden {
  top: -10vh;
}

.navbar {
  z-index: 3;
  justify-content: space-between;
  background: transparent;
  color: black;
  height: 10vh;
  padding: 0;
  position: fixed;
  width: 100%;
  max-width: 1250px;
  top: 0;
  transition: top .5s ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}



.nav-link {
  color: $black;
}

.avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
