
// profile index page

.profiles-section {
  margin: 10vh auto 10vh auto;
  max-width: 1250px;
  // min-height: 80vh;
  // display: flex;
}

.filter-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;

  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.index-container {
  display: flex;
}

#map {
  height: 80vh;
  width: 48vw;
  margin-left: 2vw;
  position: sticky;
  top: 10vh;
  // display: none;
}

.profile-index-container {
  flex-grow: 1;
  max-width: 60vw;
}

.all-profiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 1;
  // max-width: 50vw;
}

.profiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 1;
  max-width: 50vw;

}
.hidden {
  display: none;
}

.most-similar-profiles {
  display: none;
}

.not-hidden {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-grow: 1;
  max-width: 50vw;
}

.profile-card {
  overflow: hidden;
  background: $color2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;

  h2, p, h3 {
    color: $white;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  p {
    opacity: 0.7;
  }


}

.profile-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.profile-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.profile-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.profile-card .profile-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.profile-card-infos .profile-card-user {
  position: absolute;
  right: 16px;
  top: -25px;
  width: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}


//profile show page

.profile-show {
  margin: 15vh auto;
  max-width: 1250px;

  .profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

  }

  .profile-show-title {
    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1rem;
      opacity: .8;
    }



  }

  .profile-show-card {
    padding: 10px;
    background-color: $white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

  }

  a {
    color: $white;
  }
}
