// questionnaire show

.questionnaire-show-section {
  height: 90vh;
  margin: 20vh auto auto auto;
  max-width: 1250px;

  .score {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 20px auto;
  }

  .button {
    width: 100px;

    a {
      color: $light-white;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

// edit page

.questionnaire-edit-section p, .questionnaire-new-section p, .questionnaire-form-input h3, .form-range {
  opacity: .7;
}

.questionnaire-edit-section {
  min-height: 90vh;
  margin: 20vh auto 10vh auto;
  max-width: 1250px;

  .button {
    a {
      color: $light-white;
    }
  }
}

//new page

.questionnaire-new-section {
  min-height: 90vh;
  margin: 20vh auto 10vh auto;
  max-width: 1250px;
}

// form

.questionnaire-form-input {
  margin-bottom: 150px;
}

.questionnaire-form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 1300px) {
  .questionnaire-edit-section, .questionnaire-new-section {
    padding: 0 5vw;

  }

  .simple_form {
    padding: 0;
  }
}
