<%# <div class="container"> %>
    <div class="review-form-container">
      <% if @profile.reviews.exists?(user_id: current_user.id) %>
        <p>You have already submitted a review.</p>
      <% else %>
        <%= simple_form_for ([@profile, @review]), data: {controller: "submit" } do |f| %>
          <%= f.input :content, label: "Do you have any further questions?" %>
          <%= f.input :rating, class: "rating-stars", collection: (1..5).to_a, label: "How helpful and informative has this been for you?", input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} }  %>
          <%= f.submit "Send", class: "button"  %>
        <% end %>
      <% end %>
    </div>
<%# </div> %>
