<div class="contact-page">
  <div class="contact-text">
    <%# <h2>Have any questions?</h2> %>
    <h2>For all general enquiries and to apply for our mentoring programme</h2>
    <h2 class="highlighted-word">Get in touch below</h2>
    <p>We will be more than happy to discuss anything with you</p>
  </div>
  <div class="contact-form">
    <%= render partial: 'enquiries/form' %>
  </div>
</div>
