<div class="contact-page">
  <div class="contact-text">
    <h2>Have any questions?</h2>
    <h2 class="highlighted-word">Get in touch!</h2>
    <p>We will be more than happy to discuss anything with you, from questions about mentoring to how our sytem works.</p>
  </div>
  <div class="contact-form">
    <%= render partial: 'enquiries/form' %>
  </div>
</div>
